// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ecec01;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}