// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5DC;
}


h1 {
  font-family: 'Press Start 2P', cursive;
  background-color: #ecec01;
  border: 2px black solid;
  padding: 10px;
}

.subway-seat {
  background-color: #ffa500;
  width: 225px;
  margin: 10px;
  padding: 10px; 
  text-align: center; 
  border-radius: 2.5%;
}

.subway-seat p {
  font-weight: 600;
  margin: -.25px;
  font-size: 15px;
}

.subway-seat img {
  height: 225px;
  width: 175px;
}
